

#faq {
	
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 80px;
	padding-top: 5%;
	
	height: 100%;
	width: 90%;
	font-size: 17px;
	
}

#faq span {
	
	color: #d70303;
	font-size: 24.5px;
	
	
}
.answer {
	
	color: #333;
	padding: 20px;
	background-color: #dbdbdb;
	width: 80%;
	height: 100%;
	box-shadow: 0 8px 3px -3px  #AAA;
	border-radius: 10px;
	border: 1px solid #EEE;
	
}
